.container-latest-movie {
  margin: 0 auto;
  max-width: 288px;
}

.container {
  padding: 0px !important;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-control-prev{
      left: -50px;
}

.carousel-control-next {
  right: -50px;
}