.movie-facts-poster {
  margin: 20px;
}

h2.movie-facts-cast {
  margin-bottom: 30px !important;
}

.movie-facts-text {
  color: #ffffff;
  width: 50%;
  margin: auto;
}

.movie-facts-img {
  width: 100px;
  margin: 5px;
}

a:link {
  color: rgb(160, 160, 160);
  text-decoration: none;
}

a:visited {
  color: rgb(160, 160, 160);
}

a:hover {
  color: #ffffff;
}

